.checkWrapper {
  width: 26.25rem;
  margin: 2.25rem auto 0;
  padding: 2.06rem 2.25rem 1.81rem;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;

  .title {
    color: var(--color-light-100);
    align-self: center;
    margin-bottom: 1.687rem;
  }

  .checkImg {
    width: 6rem;
    height: 6rem;
    align-self: center;
    margin-bottom: 1.187rem;
  }

  .info {
    color: var(--color-dark-100);
    margin-bottom: 4.062rem;
    align-self: center;
    text-align: center;
  }

  .backButton {
    box-sizing: border-box;
    margin-bottom: 1.25rem;
    text-decoration: none;
  }
}
