.deckWrapper {
  width: 100%;
  padding: 0 8.5rem;
  display: flex;
  flex-direction: column;

  .titleAndButton {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .searchInput {
    margin-bottom: 1.5rem;
  }

  .pagination {
    align-self: flex-end;
    margin-top: 1.5rem;
  }
}
