.personalInfoWrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;

  width: 26.25rem;
  margin: 2.25rem auto 0;
  padding: 2.062rem 2.25rem 2.562rem;

  .title {
    align-self: center;
    margin-bottom: 1.687rem;
    color: var(--color-light-100);
  }

  .avatar {
    align-self: center;
    margin-bottom: 0.75rem;
    object-fit: cover;
    border-radius: 50%;
  }

  .name {
    align-self: center;
    color: var(--color-light-100);
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    align-self: center;

    .editNameWrapper {
      display: flex;
      gap: 0.562rem;
      align-items: center;
      align-self: center;
      justify-content: center;

      .editNameButton {
        cursor: pointer;
        display: flex;
        width: 1.25rem;
      }
    }

    .email {
      align-self: center;
      margin-bottom: 0.812rem;
      color: var(--color-dark-100);
    }

    .buttonLogOut {
      align-self: center;
      box-sizing: border-box;
    }
  }

  /*
  .inputWrapper {
    position: relative;
    width: 100%;
    text-align: center;

    .inputFile {
      position: absolute;
      visibility: hidden;
      opacity: 0;
    }

    .addPhotoBtn {
      cursor: pointer;

      position: absolute;
      z-index: 2;
      top: -2.187rem;
      left: 59%;

      display: -webkit-box;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 1.5rem;
      height: 1.5rem;
      margin: 0 auto;

      color: #fff;

      background: var(--color-dark-300);
      border-radius: 0.25rem;
      box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);

      -webkit-box-align: center;
      -webkit-box-pack: start;
      -ms-flex-align: center;
      -ms-flex-pack: start;

      .inputIcon {
        width: 1rem;
      }
    }
  }
  */

  .changeAvatar {
    position: relative;
    width: 100%;
    text-align: center;

    .addPhotoBtn {
      cursor: pointer;

      position: absolute;
      z-index: 2;
      top: -2.187rem;
      left: 59%;

      display: -webkit-box;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 1.5rem;
      height: 1.5rem;
      margin: 0 auto;

      color: #fff;

      background: var(--color-dark-300);
      border-radius: 0.25rem;
      box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);

      -webkit-box-align: center;
      -webkit-box-pack: start;
      -ms-flex-align: center;
      -ms-flex-pack: start;
    }

    .inputIcon {
      width: 1rem;
    }

    .inputFile {
      cursor: pointer;

      position: absolute;
      z-index: 5;
      top: -2.187rem;
      right: 34%;

      width: 1.5rem;

      opacity: 0;
    }
  }

  .formWrapper {
    display: inline-flex;
    flex-direction: column;

    .input {
      margin-bottom: 2.25rem;
    }

    .buttonSubmit {
      box-sizing: border-box;
      margin-bottom: 2.687rem;
    }
  }
}
