.sliderWrapper {
  display: flex;
  width: 15.688rem;
  height: 2.25rem;
  justify-content: space-between;
  align-items: center;

  .minMax {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 2px;
    border: 1px solid var(--color-dark-300);

    .value {
      color: var(--color-light-100);
      background: transparent;
    }
  }

  .root {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 9.688rem;
    height: 1rem;

    .track {
      background-color: var(--color-accent-900);
      position: relative;
      flex-grow: 1;
      border-radius: 9999px;
      height: 6px;

      .range {
        position: absolute;
        background-color: var(--color-accent-500);
        border-radius: 9999px;
        height: 100%;
      }
    }

    .thumb {
      display: block;
      position: relative;
      width: 1rem;
      height: 1rem;
      background-color: var(--color-accent-500);
      border-radius: 10px;
      cursor: pointer;

      &:focus-visible {
        outline: none;
      }

      &::after {
        position: absolute;
        content: '';
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        top: 4px;
        left: 4px;
        background-color: var(--color-light-100);
      }
    }
  }
}
