.tHeader {
  cursor: pointer;
}

.tableData {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  align-items: center;

  .packImage {
    width: 7.375rem;
    height: 3rem;
    object-fit: cover;
  }

  .deckLink {
    text-decoration: none;
    word-break: break-word;
  }
}

.controlButtons {
  cursor: pointer;
  display: flex;
  gap: 0.625rem;
}
