.tHeader {
  cursor: pointer;
}

.tableLinkData {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  align-items: center;

  text-decoration: none;
  word-break: break-word;

  .packImage {
    width: 7.375rem;
    height: 3rem;
    object-fit: cover;
  }
}

.controlButtons {
  cursor: pointer;
  display: flex;
  gap: 0.625rem;

  .controlIcon:hover {
    width: 108%;
    transition: 0.5s;
  }
}
