@import 'src/styles/mixins';

.primary {
  @include layoutButtons();

  background: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

  &:active {
    background: var(--color-accent-700);
  }

  &:hover {
    background: var(--color-accent-300);
  }

  &:focus {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    background: var(--color-accent-900);
  }
}

.secondary {
  @include layoutButtons();

  background: var(--color-dark-300);
  box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);

  &:active {
    background: var(--color-dark-500);
  }

  &:hover {
    background: var(--color-dark-100);
  }

  &:focus {
    outline: 1px solid var(--color-info-500);
  }

  &:disabled {
    background: var(--color-dark-900);
  }
}

.tertiary {
  cursor: pointer;

  display: inline-flex;
  flex-shrink: 0;
  gap: 10px;
  align-items: center;
  justify-content: center;

  height: 36px;
  padding: 8px 28px;

  color: var(--color-accent-500);

  background: transparent;
  border: 1px solid var(--color-accent-500);
  border-radius: 4px;

  &:active {
    background: var(--color-accent-700);
    border: 1px solid var(--color-accent-500);
  }

  &:hover {
    background: var(--color-dark-500);
    border: 1px solid var(--color-accent-700);
  }

  &:focus {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-accent-900);
    border: 1px solid var(--color-accent-900);
  }
}

.link {
  cursor: pointer;

  display: inline-flex;
  gap: 10px;
  align-items: flex-start;

  padding: 6px 0;

  color: var(--color-accent-500);

  background: transparent;
  border: none;

  &:active {
    color: var(--color-accent-700);
  }

  &:hover {
    color: var(--color-accent-300);
  }

  &:focus {
    padding: 6px 20px;
    color: var(--color-accent-500);
    border-radius: 20px;
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-accent-900);
  }
}

.fullWidth {
  width: 100%;
}
