.signUpWrapper {
  width: 26.25rem;
  /*height: 33rem;*/
  margin: 2.25rem auto 0;
  padding: 2.06rem 2.25rem 1.81rem;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;

  .title {
    color: var(--color-light-100);
    align-self: center;
    margin-bottom: 1.69rem;
  }

  .formWrapper {
    display: inline-flex;
    flex-direction: column;

    .email {
      margin-bottom: 1.5rem;
    }

    .password {
      margin-bottom: 1.5rem;
    }

    .password.confirm {
      margin-bottom: 3.75rem;
    }

    .submit {
      box-sizing: border-box;
      margin-bottom: 1.25rem;
    }

    .haveAccount {
      color: var(--color-light-100);
      align-self: center;
      margin-bottom: 0.687rem;
    }

    .signUp {
      color: var(--color-accent-500);
      font-size: var(--font-size-m);
      font-weight: var(--font-weight-bold);
      align-self: center;
      cursor: pointer;
    }
  }
}
