.large {
  color: var(--color-dark-900);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
  background-color: var(--color-light-100);
  margin: 0;
}

.h1 {
  color: var(--color-dark-900);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
  background-color: var(--color-light-100);
  margin: 0;
}

.h2 {
  color: var(--color-dark-900);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  background-color: var(--color-light-100);
  margin: 0;
}

.h3 {
  color: var(--color-dark-900);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  background-color: var(--color-light-100);
  margin: 0;
}

.body1 {
  color: var(--color-dark-900);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  background-color: var(--color-light-100);
  margin: 0;
}

.subtitle1 {
  color: var(--color-dark-900);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  background-color: var(--color-light-100);
  margin: 0;
}

.body2 {
  color: var(--color-dark-900);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  background-color: var(--color-light-100);
  margin: 0;
}

.subtitle2 {
  color: var(--color-dark-900);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  background-color: var(--color-light-100);
  margin: 0;
}

.caption {
  color: var(--color-dark-900);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-s);
  background-color: var(--color-light-100);
  margin: 0;
}

.overline {
  color: var(--color-dark-900);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-s);
  background-color: var(--color-light-100);
  margin: 0;
}

.link1 {
  color: var(--color-info-500);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  background-color: var(--color-light-100);
  margin: 0;
  text-decoration: underline;
}

.link2 {
  color: var(--color-info-500);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-s);
  background-color: var(--color-light-100);
  margin: 0;
  text-decoration: underline;
}
