.root {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  button {
    all: unset;
  }

  .itemGroup {
    display: flex;
    gap: 0.75rem;
    align-items: center;

    .itemWrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 2.25rem;
      height: 2.25rem;

      background-color: transparent;
      border-radius: 50%;

      &:active {
        background-color: var(--color-accent-900);
      }

      &:hover {
        background-color: var(--color-dark-500);
      }

      &:focus-within {
        background-color: var(--color-dark-700);
      }

      &.disabled:hover {
        background-color: transparent;
      }

      .item {
        cursor: pointer;

        position: relative;

        width: 1rem;
        height: 1rem;

        border: 2px solid var(--color-accent-500);
        border-radius: 50%;

        &:disabled {
          cursor: initial;
          border: 2px solid var(--color-accent-900);
        }

        &:disabled:hover {
          cursor: initial;
        }

        .indicator {
          position: relative;

          display: flex;
          align-items: center;
          justify-content: center;

          width: 100%;
          height: 100%;

          &::after {
            content: '';

            display: block;

            width: 0.5rem;
            height: 0.5rem;

            background-color: var(--color-accent-500);
            border-radius: 50%;
          }

          &:disabled {
            background-color: var(--color-accent-900);
          }
        }
      }
    }

    .label {
      cursor: pointer;
      user-select: none;

      .labelText {
        color: var(--color-light-100);
      }
    }

    .labelDisabled {
      .labelText {
        cursor: initial;
        color: var(--color-light-900);
      }
    }
  }
}
