.generalBlock {
  margin: 2.062rem 8.562rem;

  .menuWrapper {
    display: flex;
    flex-direction: column;
    gap: 2.437rem;

    .titleAndButton {
      display: flex;
      justify-content: space-between;

      .title {
        color: var(--color-light-100);
      }
    }

    .menuItems {
      display: flex;
      justify-content: space-between;
    }
  }
}
