.email {
  color: var(--color-dark-100);
}

.link {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-s);
  color: var(--color-light-100);
  text-decoration: none;
  user-select: none;
  outline: none;
}
